<div class="fullscreen-bg">
    <video loop muted autoplay poster="public/SniperScreenshot.png" class="fullscreen-bg__video">
        <source src="https://youtu.be/LoIGRsJH3JU" type="video/webm">
        <source src="https://youtu.be/LoIGRsJH3JU" type="video/mp4">
        <source src="https://youtu.be/LoIGRsJH3JU" type="video/ogg">
    </video>
</div>
<div class="Home-page center">
	<ul>
		<li class="sniper-logo"><img src="public/Sniper.png" alt=""></li>
		<ul class="arrow-cont">
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
		</ul>
		<ul class="link-cont">
			<li>HOME</li>
			<li>TOUR</li>
			<li>VIDS</li>
			<li>MUSIC</li>

		</ul>
		<ul>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">.</li>
			<li class="home-arrow">▼</li>

		</ul>
	</ul>
</div>
