.media {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.media_iframe {
  border: 0;
  width: 100%;
  height: 150px;
}
.video {
  margin-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .media_iframe {
    width: 45%;
  }
}
iframe {
  -webkit-overflow-scrolling: touch;
}
h1 center {
  font-family: "cassius", "IM Fell DW Pica", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 2em;
}
.youtube-player {
  display: flex;
  justify-content: center;
}
